@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
  --blue: #2980b9;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.37, 1.14, 0.26, 1.24);
}

*::selection {
  background: #ff3300;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: #000;
}

.btn {
  height: 4rem;
  width: 14rem;
  background: var(--blue);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1rem;
}

.btn:hover {
  letter-spacing: 0.2rem;
  opacity: 0.8;
}

.heading {
  padding-top: 7rem;
  width: 95%;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.heading span {
  font-size: 2rem;
  padding: 1rem 6rem;
  color: #fff;
  background: var(--blue);
  border-top-right-radius: 3rem;
  display: inline-block;
}

header .header-1,
header .header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  z-index: 1000;
}

header .header-1 .logo {
  margin: 2rem;
}

header .header-1 .form-container form {
  display: flex;
  border-radius: 1rem;
}

header .header-1 .form-container form #search {
  height: 4rem;
  width: 50rem;
  outline: none;
  border: 0.2rem solid #666;
  font-size: 1.5rem;
  padding: 0 1rem;
}

header .header-1 .form-container form #search:focus {
  border-color: var(--blue);
}

header .header-1 .form-container form label {
  height: 4rem;
  width: 5rem;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  cursor: pointer;
  background: var(--blue);
  color: #fff;
}

header .header-1 .form-container form label:hover {
  color: yellow;
}

header .header-2 {
  background: var(--blue);
}

header .header-2 .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-2 .navbar ul li {
  margin: 0 1rem;
}

header .header-2 .navbar ul li a {
  font-size: 2rem;
  color: #fff;
}

header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover {
  color: yellow;
}

header .header-2 .icons a {
  color: #fff;
  font-size: 2rem;
  padding: 0 1rem;
}

header .header-2 .icons a:hover {
  color: yellow;
}

header .header-2 #menu {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

header .header-2.header-active {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.home .home-slider .item {
  position: relative;
}

.home .home-slider .item img {
  height: 60vh;
  object-fit: cover;
  width: 100%;
  padding: 2rem;
}

.home .home-slider .item .content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.home .home-slider .item .content h3 {
  color: #fff;
  text-shadow: 0 0.3rem 0.5rem #000;
  font-size: 5rem;
  text-transform: uppercase;
}

.home .home-slider .item .content p {
  color: #fff;
  font-size: 2.5rem;
  padding: 2rem 0;
  width: 50rem;
}

.home .owl-carousel .owl-prev,
.home .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}

.home .owl-carousel .owl-prev {
  left: 1.3rem;
}

.home .owl-carousel .owl-next {
  right: 1.3rem;
}

.home .owl-carousel .owl-prev span,
.home .owl-carousel .owl-next span {
  color: #fff;
  font-size: 7rem;
}

.promocao {
  min-height: 100vh;
}

.promocao .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  width: 85%;
  margin: 0 auto;
}

.promocao .box-container .box {
  flex: 1 1 30rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  margin: 1rem 2rem;
}

.promocao .box-container .box .image {
  height: 23rem;
  padding: 2rem;
  text-align: center;
  background: #3b38f3;
  border-radius: 2rem;
}

.promocao .box-container .box .image img {
  height: 100%;
  object-fit: cover;
}

.promocao .box-container .box .info h3 {
  padding: 1rem;
  font-size: 2rem;
  color: var(--blue);
}

.promocao .box-container .box .info .subInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 0.1rem solid rgba(0, 4, 240, 0.801);
}

.promocao .box-container .box .info .subInfo .price {
  color: #1814e9;
  font-size: 2rem;
}

.promocao .box-container .box .info .subInfo .price span {
  color: rgb(6, 39, 255);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.promocao .box-container .box .info .subInfo .stars i {
  color: orange;
  font-size: 1.5rem;
}

.promocao .box-container .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 20rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.promocao .box-container .box:hover .overlay {
  transform: scale(1);
}

.promocao .box-container .box .overlay a {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  background: rgb(33, 66, 116);
  color: rgb(97, 93, 93);
  margin: 1rem;
  transform: translateY(-15rem);
  transition-delay: calc(0.1s * var(--i));
}

.promocao .box-container .box:hover .overlay a {
  transform: translateY(0rem);
}

.promocao .box-container .box .overlay a:hover {
  color: var(--blue);
}

.destaque {
  min-height: 100vh;
  background: linear-gradient(165deg, rgb(68, 62, 62) 50%, var(--blue) 50.1%);
  padding-bottom: 2rem;
}

.destaque .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  margin: 3rem auto;
  width: 95%;
  background: #fff;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.destaque .row .image-container {
  display: flex;
  align-items: center;
}

.destaque .row .image-container .image-grande img {
  height: 30rem;
  margin: 2rem 0;
  filter: drop-shadow(0 0.1rem 0.5rem #000);
}

.destaque .row .image-container .image-pequena {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.destaque .row .image-container .image-pequena img {
  height: 6rem;
  padding: 1rem;
  margin: 1rem;
  border: 0.1rem solid #666;
  cursor: pointer;
}

.destaque .row .image-container .image-pequena img.image-active,
.destaque .row .image-container .image-pequena img:hover {
  border: 0.2rem solid var(--blue);
}

.destaque .row .content {
  padding-left: 6rem;
}

.destaque .row .content h3 {
  font-size: 4rem;
  color: var(--blue);
}

.destaque .row .content .stars i {
  font-size: 2rem;
  color: orange;
  padding: 1rem 0;
}

.destaque .row .content .stars span {
  font-size: 2rem;
  color: #666;
}

.destaque .row .content p {
  color: #333;
  width: 40rem;
  font-size: 2rem;
  padding: 2rem 0;
}

.destaque .row .content .price {
  color: #ff3300;
  font-size: 2rem;
}

.destaque .row .content .price span {
  color: #666;
  text-decoration: line-through;
  font-size: 1.5rem;
}

.destaque .row .content .btn {
  margin-left: 2rem;
}

.galeria {
  min-height: 100vh;
}

.galeria .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  list-style: none;
}

.galeria .controls .btn {
  margin: 2rem;
  line-height: 4rem;
  text-align: center;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.galeria .controls .btn.button-active {
  background: #333;
}

.galeria .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.galeria .image-container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  flex: 1 1 30rem;
}

.galeria .image-container .box .image {
  height: 12rem;
  width: 20rem;
  text-align: center;
  padding: 1rem;
  background: #f0f0f0;
}

.galeria .image-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.galeria .image-container .box:hover .image {
  background: #ccc;
}

.galeria .image-container .box .info {
  width: 100%;
}

.galeria .image-container .box .info h3 {
  font-size: 2rem;
  color: var(--blue);
  padding: 1rem;
}

.galeria .image-container .box .info .subInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.galeria .image-container .box .info .subInfo .price {
  color: #ff3300;
  font-size: 2rem;
}

.galeria .image-container .box .info .subInfo .stars i {
  color: orange;
  font-size: 1.5rem;
}

.mega-desconto {
  min-height: 100vh;
}

.mega-desconto .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mega-desconto .box-container .box {
  flex: 1 1 40rem;
  height: 25rem;
  margin: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.mega-desconto .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mega-desconto .box-container .box .content {
  position: absolute;
  top: 55%;
  left: 3rem;
  transform: translateY(-50%);
}

.mega-desconto .box-container .box .content h3 {
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.mega-desconto .box-container .box .content p {
  font-size: 2rem;
  color: #fff;
}

.mega-desconto .box-container .box .content .btn {
  margin: 1.4rem 0;
}

.mega-desconto .icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.mega-desconto .icons-container .icons {
  flex: 1 1 25rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--blue);
}

.mega-desconto .icons-container .icons i {
  color: var(--blue);
  font-size: 4rem;
  padding: 1rem 0;
}

.mega-desconto .icons-container .icons h3 {
  color: #333;
  font-size: 2rem;
}

.mega-desconto .icons-container .icons p {
  color: #666;
  font-size: 1.3rem;
  padding: 1rem 0;
}

.noticia {
  background: linear-gradient(var(--blue), var(--blue)),
    url(../images/deal1.jpg) no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 4rem 1rem;
  text-align: center;
}

.noticia h1 {
  color: #fff;
  font-size: 4rem;
}

.noticia p {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.noticia form {
  height: 5.5rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.3);
}

.noticia form input[type="email"] {
  height: 100%;
  width: 80%;
  padding: 0 1rem;
  outline: none;
  border: none;
  background: none;
  font-size: 2rem;
  color: #fff;
}

.noticia form input[type="submit"] {
  border-radius: 5rem;
}


.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2rem;
}

.footer .box-container .box .logo {
  width: 3rem;
  height: 1rem;
}
.img-footer {
  width: 7rem;
}

.footer .box-container .box i {
  color: var(--blue);
}

.footer .box-container .box p {
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #666;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--blue);
}

.footer .box-container .box:nth-child(2) {
  text-align: center;
}

.footer .box-container .box:nth-child(2) a {
  display: block;
  font-size: 2rem;
  padding: 0.4rem 0;
  color: #666;
}

.footer .box-container .box:nth-child(2) a:hover {
  text-decoration: underline;
}

.footer .creditos {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  padding: 1.4rem 0;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #666;
  font-size: 2rem;

  padding-bottom: 5rem;
}

.footer .creditos span {
  color: var(--blue);
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  header .header-1 .form-container form #search {
    width: 100%;
  }

  header .header-2 #menu {
    display: block;
  }

  header .header-2 .navbar {
    position: fixed;
    top: -200rem;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
    z-index: 10000;
    opacity: 0;
  }

  header .header-2 .navbar ul {
    flex-flow: column;
    background: linear-gradient(var(--blue), blueviolet);
    border: 0.2rem solid #fff;
    box-shadow: 0 0.3rem 0.5rem #000;
    padding: 4rem 0;
    width: 27rem;
  }

  header .header-2 .navbar ul li {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
  }

  header .header-2 .navbar ul li a {
    font-size: 2.5rem;
    display: block;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .header-2 .nav-toggle {
    top: 50%;
    opacity: 1;
  }

  .promocao .box-container {
    width: auto;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .item .content h3 {
    font-size: 3rem;
  }

  .home .home-slider .item .content p {
    font-size: 2rem;
    width: auto;
  }

  .destaque .row .image-container {
    flex-flow: column wrap;
  }

  .destaque .row .image-container .image-pequena {
    flex-flow: row wrap;
    padding-bottom: 2rem;
  }

  .destaque .row .content {
    padding: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  }

  .destaque .row .content p {
    width: auto;
  }

  .destaque .row .content .btn {
    margin: 2rem 0;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }

  header .header-1 {
    flex-flow: column;
    padding: 1rem;
  }

  header .header-1 .logo {
    padding-bottom: 1.5rem;
  }
}
